# TODO не добился чтобы для определенного контеста сборки применяля определенный докеригнор,
# пока оставил файл в основном каталоге
.env
env/
.vscode/
README.md
.gitignore
.git/
docker-compose.yaml
test/