<!-- Фильтр для больших экранов -->
<div class="col-md-12 d-md-block d-none">
    <div class="card">
    <div class="card-header">
        Фильтр
    </div>
    <div class="card-body">
        {% include 'filter_form.html' %}
    </div>
    </div>
</div>

<!-- Фильтр в виде выпадающего меню для маленьких экранов -->
<div class="col-md-12 d-md-none">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтр
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                {% include 'filter_form.html' %}
            </li>
        </ul>
    </div>
</div>
