<form action="/view_bonds" method="get">
    <div>
        <label for="inputMaxYearPercent">Макс. процент</label>
        <input type="number" class="form-control" id="inputMaxYearPercent" name="max_year_percent" value={{ max_year_percent }}>
    </div>
    <div>
        <label for="inputMinYearPercent">Мин. процент</label>
        <input type="number" class="form-control" id="inputMinYearPercent" name="min_year_percent" value={{ min_year_percent }}>
    </div>
    <div>
        <label for="inputMaxListLevel">Макс. уровень листинга</label>
        <input type="number" class="form-control" id="inputMaxListLevel" name="max_list_level" value={{ max_list_level }}>
    </div>
    <div>
        <label for="inputMinListLevel">Мин. уровень листинга</label>
        <input type="number" class="form-control" id="inputMinListLevel" name="min_list_level" value={{ min_list_level }}>
    </div>
    <div>
        <input type="checkbox" id="inputAmortizations" name="amortizations" {% if amortizations %}checked{% endif %}>
        <label for="inputAmortizations">Амортизация</label>
    </div>
    <div>
        <input type="checkbox" id="inputFloater" name="floater" {% if floater %}checked{% endif %}>
        <label for="inputFloater">Плавающий купон</label>
    </div>
    <div>
        <input type="checkbox" id="inputOfzBonds" name="ofz_bonds" {% if ofz_bonds %}checked{% endif %}>
        <label for="inputOfzBonds">ОФЗ</label>
    </div>
    <div>
        <label for="inputMaxDaysToRedemption">Макс. число дней до погашения</label>
        <input type="number" class="form-control" id="inputMaxDaysToRedemption" name="max_days_to_redemption" value={{ max_days_to_redemption }}>
    </div>
    <div>
        <label for="inputMinDaysToRedemption">Мин. число дней до погашения</label>
        <input type="number" class="form-control" id="inputMinDaysToRedemption" name="min_days_to_redemption" value={{ min_days_to_redemption }}>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Фильтр</button>
    </div>
</form>