{% extends "basic.html" %}
{% block content %}
<div class="container-xxl">
    <h3 class="">Отобранные облигаций</h3>
    <div class="row">
        <div class="col-9">
            <table class="table table-bordered w-auto small">
                <thead class="table-light">
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in data %}
                    <tr>
                        {% for value in row %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            {% include 'filter_form.html' %}
        </div>
    </div>
</div>
{% endblock %}